<p id="notice"><%= notice %></p>

<p>
  <strong>Proceso:</strong>
  <%= @proceso_examan.proceso %>
</p>

<%= link_to 'Edit', edit_proceso_examan_path(@proceso_examan) %> |
<%= link_to 'Back', proceso_examen_path %>
